[Desktop Entry]
Version=1.0
Type=Application
Name=PureRef
GenericName=Reference Image Viewer
Comment=PureRef - Simple and lightweight reference image viewer.
Exec=/home/garo/.local/bin/pureref/usr/bin/PureRef
Terminal=false
Icon=/home/garo/.local/bin/pureref/usr/share/icons/hicolor/48x48/apps/pureref.png
Categories=Graphics;
MimeType=application/pureref;
StartupNotify=true
